.app-header {
  background: linear-gradient(90deg, #b1fd7f, #2b6817);
  color: white;
}

.app-header h3 {
  font-weight: 700;
  letter-spacing: 1px;
}

.nav-link i {
  color: white;
  font-size: 1.2rem;
}

.bg-body-secondary {
    background-color: rgb(23, 140, 12)!important;
}
